/*dégradé coin bas droite de color:#ff416c à color:#ff464c*/
/*border-radius pour les coins arrondis*/
body {
    background-color: #f3e0e2;
    font-family: sans-serif;
    /* justify-content: center; */
}

main {
    display: flex;
    justify-content: center;
    margin: 10%;
    height: 80%;
    /* width: 100%; */
}

.login, .explain{   
    width: 50%;
}
.login {
    background-color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
}

aside {
    display: flex;
    width: 100%;
}

#noir,
form,
form p,
form a,
input {
    align-self: center;
}

#noir {
    font-weight: 900;
    /* align-self: center; */
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* problème les logos sont coupés par les borders rondes */
img {
    /* background-color: khaki; */
    /* overflow: visible; */
    /* align-self: center; */
    margin: 10px;
    border: solid #dfdfdf 1px;
    border-radius: 50%;
    padding: 10px;
}

form {
    background-color: lightgrey;
    width: 90%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form p {
    /* background-color: green; */
    /* align-self: center; */
}

input {
    background-color: #eeeeee;
    border: none;
    margin: 5px;
    padding: 10px;
    width: 80%;
}

input:[button] {
    width: 10% ;
}

.explain {
    background-image: linear-gradient(180deg, #ff416c, #ff464c);
}

h2, .explain p{
    color: white;
    text-align: center;
}